In [3]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

import warnings
warnings.filterwarnings('ignore')

# Split the Data into Training and Testing Sets

In [16]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
lending_df = pd.read_csv('lending_data.csv')

# Review the DataFrame
lending_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [12]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = np.array(lending_df['loan_status'])

# Separate the X variable, the features
X = np.array(lending_df.drop(['loan_status'], axis=1))

In [13]:
#Checking the shape of the data for y
y.shape

(77536,)

In [14]:
#Checking the shape of the data for X
X.shape

(77536, 7)

In [17]:
# Review the y variable Series
pd.Series(y)

0        0
1        0
2        0
3        0
4        0
        ..
77531    1
77532    1
77533    1
77534    1
77535    1
Length: 77536, dtype: int64

In [18]:
# Review the X variable DataFrame
pd.DataFrame(X)

             0       1        2         3     4    5        6
0      10700.0   7.672  52800.0  0.431818   5.0  1.0  22800.0
1       8400.0   6.692  43600.0  0.311927   3.0  0.0  13600.0
2       9000.0   6.963  46100.0  0.349241   3.0  0.0  16100.0
3      10700.0   7.664  52700.0  0.430740   5.0  1.0  22700.0
4      10800.0   7.698  53000.0  0.433962   5.0  1.0  23000.0
...        ...     ...      ...       ...   ...  ...      ...
77531  19100.0  11.261  86600.0  0.653580  12.0  2.0  56600.0
77532  17700.0  10.662  80900.0  0.629172  11.0  2.0  50900.0
77533  17600.0  10.595  80300.0  0.626401  11.0  2.0  50300.0
77534  16300.0  10.068  75300.0  0.601594  10.0  2.0  45300.0
77535  15600.0   9.742  72300.0  0.585062   9.0  2.0  42300.0

[77536 rows x 7 columns]

In [21]:
# Check the balance of our target values
y_counts = pd.Index(y)
print(y_counts)

Index([0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       ...
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
      dtype='int64', length=77536)

In [22]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Create a Logistic Regression Model with the Original Data

In [23]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
model = LogisticRegression(random_state=1)

# Fit the model using training data
model.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [26]:
# Make a prediction using the testing data
future = model.predict(X_test)

In [27]:
# Print the balanced_accuracy score of the model
balanced_accuracy_score(y_test, future)

0.9520479254722232

In [28]:
# Generate a confusion matrix for the model
confusion_matrix(y_test, future)

array([[18663,   102],
       [   56,   563]], dtype=int64)

In [29]:
# Print the classification report for the model
print(classification_report_imbalanced(y_test, future))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.99      0.91      1.00      0.95      0.91     18765
          1       0.85      0.91      0.99      0.88      0.95      0.90       619

avg / total       0.99      0.99      0.91      0.99      0.95      0.91     19384

# Predict a Logistic Regression Model with Resampled Training Data

In [31]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
rs_model = RandomOverSampler(random_state=1)

# Fit the original training data to the random_oversampler model
X_resample, y_resample = rs_model.fit_resample(X_train, y_train)

In [33]:
# Count the distinct values of the resampled labels data
y_counts1 = pd.Index(y_resample)
y_counts1.value_counts()

0    56271
1    56271
Name: count, dtype: int64

In [34]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
lr_model = LogisticRegression(random_state=1)

# Fit the model using the resampled training data
lr_model.fit(X_resample, y_resample)

# Make a prediction using the testing data
future = lr_model.predict(X_test)

In [35]:
# Print the balanced_accuracy score of the model 
balanced_accuracy_score(y_test, future)

0.9936781215845847

In [36]:
# Generate a confusion matrix for the model
confusion_matrix(y_test, future)

array([[18649,   116],
       [    4,   615]], dtype=int64)

In [37]:
# Print the classification report for the model
print(classification_report_imbalanced(y_test, future))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.99      0.99      1.00      0.99      0.99     18765
          1       0.84      0.99      0.99      0.91      0.99      0.99       619

avg / total       0.99      0.99      0.99      0.99      0.99      0.99     19384